<div class="box">
  <h4>Name:</h4>
  <h5><%= @response["name"] %></h5>
</div>

<div class="box">
  <h4>Gender:</h4>
  <h5><%= @response["gender"] %></h5>
</div>
<div class="box">
  <h4><h4>Birth Year:</h4>
  <h5><%= @response["birth_year"] %></h5>
</div>
<div class="box">
  <h4>Eye Color:</h4>
  <h5><%= @response["eye_color"] %></h5>
</div>
<div class="box">
  <h4>Films:</h4>
  <% @response["films"].each do |film_url| %>
    <div><%= button_to "Film ##{get_entity_number(film_url)}", strip_api_prefix(film_url), remote: true, method: :get %></div>
  <% end %>
</div>
