<div class="box">
  <h4>Title:</h4>
  <h5><%= @response["title"] %></h5>
</div>

<div class="box">
  <h4>Episode Number:</h4>
  <h5><%= @response["episode_id"] %></h5>
</div>
<div class="box">
  <h4><h4>Director:</h4>
  <h5><%= @response["director"] %></h5>
</div>
<div class="box">
  <h4>Opening Crawl:</h4>
  <h5><%= @response["opening_crawl"] %></h5>
</div>
<div class="box">
  <h4>Characters:</h4>
  <% @response["characters"].each do |c| %>
    <div><%= button_to "Character ##{c.split("/").last}", c.gsub("https://swapi.co/api", ""), remote: true, method: :get %></div>
  <% end %>
</div>
